body{
    font-weight: 300;
}

.title-xl{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 96px;
    line-height: 88px;
    font-weight: 900;
    text-transform: uppercase;
}

.title-l{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    text-transform: uppercase;
}

.title-m{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

.title-s{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.text-m{
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-weight: 300;
}

.text-s{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.buttom-anchor{
    display:flex;
    width: 240px;
    height: 60px;
}


.buttom{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 16px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    font-weight: 600;
    letter-spacing: 6px;
    background-color: #151515;
    border: none;
    color: white;
    width: calc(100% - 40px);

}

.buttom-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
    width: 40px;
}

.buttom-arrow img{
    width: 10px;
    height: 24px;
}


.buttom-anchor:hover .buttom{
    background-color: #D5966C;
}

.buttom-anchor:hover .buttom-arrow{
    background-color: #151515;
}
