.header{
 display: flex;
}

.header-card{
    position: relative;
    display: flex;
}
.blackBackgrund{
    background-color: black;
    width: 450px;
    height: 600px;
}

.header-title{
    position: absolute;
    top: 100px;
    left: 212px;
    width: 380px;
    height: 200px;

}

.heroImg{
    background-image: url("../assets/desktop/image-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 600px;
}

.header-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 290px;
    top: 100px;
    left: -53px;


}