.header{
    height: 80vh;
}

.buttom-anchor{
    position: absolute;
    left: 150px;
    z-index: 2;
}

#map{
    height: 100%;
    z-index: 1;
    border: solid 1px #151515;
}

/*nest hub and laptop 1024px*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .header{
        height: 60vh;
    }

}

/*iphone xr and cellphones 414px*/

@media screen and (max-width: 414px) and (max-height: 896px) {
    .buttom-anchor{
        position: absolute;
        left: 0;
    }
}

