main{
    display: flex;
    background-color: #151515;
    justify-content: space-around;
    height: 300px;
    color: #FFFFFF;
    padding: 100px 40px;

}

main h1{
    width: 260px;
}

.address-street h2{
    color: #D5966C;
}

.address-street ul{
    margin: 1.25rem 0;
}


.address-reference{
    width: 438px;
}

/*surface pro 7 and tablets 912px*/

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .address-reference {
        width: 24.93rem;
    }

    .galery{
        max-width: 700px;
    }
}

/*iphone xr and mobiles 414px*/

@media screen and (max-width: 540px) and (max-height: 915px) {
    .main{
        flex-direction: column;
        padding: 5rem 1.875rem;
        height: auto;
    }

    .main h1{
        width: 22.81rem;
        font-size: 4.06rem;
    }

    .address-street{
        margin-top: 3.125rem;
    }

    .address-reference{
        width: 21.125rem;
    }

}

