footer{
    background-color: #151515;
    display: flex;
    padding: 100px;
    justify-content: space-between;
}

footer h2{
    color: #FFFFFF;
    width: 170px;
}

footer p{
    color: #FFFFFF;
    width: 422px;
}

.social-media{
    display: flex;
    gap: 20px;
}

.social-media img{
    height: 25px;
}

.social-media img:hover{
    filter: brightness(0) saturate(100%) invert(66%) sepia(12%) saturate(1470%) hue-rotate(341deg) brightness(97%) contrast(85%);
}

@media screen and (max-width: 912px) {
    footer {
        background-color: #151515;
        display: flex;
        padding: 4.375rem 2.5rem;
        justify-content: space-between;
    }

    footer p {
        width:18.437rem;
    }
}

@media screen and (max-width: 414px) and (max-height: 915px) {
    footer{
        flex-direction: column;
        gap: 1.875rem;
    }
}