.header{
    display: flex;
    height: 100vh;
}

.header-card{
    position: relative;
    display: flex;
    width: 100vw;
}

.blackBackgrund{
    background-color: black;
    width: 450px;
    height: 100%;
}

.header-title{
    position: absolute;
    top: 179px;
    left: 212px;
    width: 380px;
    height: 200px;
}

.header-title svg{
    fill: url(#grad);
}

.heroImg{
    background-image: url("../../assets/desktop/image-hero@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 450px;
    height: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 350px;
    top: 169px;
    left: -64px;
}

.header-content a{
    margin-top: 50px;
}


/*nest hub and laptop 1024px*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .header-title{
        top: 8.062rem;
        left: 2.56rem;
    }


    .header-content {
        top: 7.25rem;
    }

    .blackBackgrund {
        width: 18.75rem;
    }

}

/*surface pro 7 and tablets 912px*/

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .header-card{
        position: initial;
        width: 100%;
        height: 75rem;
    }

    .heroImg{
        width: 34.75rem;
    }

    .blackBackgrund{
        display: none;
    }

    .header-title{
        top: 20.31rem;
        left: 31.75rem;
    }

    .header-content {
        position: absolute;
        top: 32.875rem;
        left: 31.875rem;
    }

    .header-content a {
        margin-top: 4.125rem;
    }


    .header-title svg{
        fill: #151515;
    }

}

/*ipad air and tablets 820px*/

@media screen and (max-width: 820px) and (max-height: 1180px) {
    .header-title {
        top: 20.312rem;
        left: 26.31rem;
    }

    .header-content {
        position: absolute;
        top: 32.875rem;
        left: 26.31rem;
    }
}

/*iphone xr and cellphones 414px and tablet duo*/

@media screen and (max-width: 540px) and (max-height: 915px) {
    .header-card{
        flex-direction: column;
        height: 100vh;
        justify-content: start;
    }

    .heroImg{
        width: 100%;
        height: 21.875rem;
    }

    .header-title{
        position: inherit;
        order: 2;
        width: 20.625rem;
        height: 9.375rem;
        margin-top: 3.125rem;
        margin-left: 1.25rem;
   }

    .header-content{
        position: inherit;
        order: 3;
        margin-top: 1.25rem;
        margin-left: 1.25rem;
        width: 22.1875rem;
    }

    .header-content p{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .header-content a {
        margin-top: 3.125rem;
    }
}

/*iphone se and mobiles 375px*/

@media screen and (max-width: 375px) and (max-height: 667px) {
    .heroImg{
        width: 100%;
        height: 15.625rem;
    }

    .header-title{
        position: inherit;
        order: 2;
        width: 17.812rem;
        margin-top: 2.5rem;
        margin-left: 1.25rem;
        height: 7.625rem;
    }

    .header-content{
        position: inherit;
        order: 3;
        margin-top: 1.25rem;
        margin-left: 1.25rem;
        width: 21.25rem;
    }

    .header-content p{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .header-content a {
        margin-top: 2.5rem;
    }
}
