.galery{
    display: grid;
    margin: 10%;
    grid-gap: 30px;
    grid-template-areas: "a1 a1 a2 a2 a2"
                         "a3 a3 a3 a4 a4"
                         "a3 a3 a3 a4 a4"
}

/*first card*/

.galeryContent{
    grid-area: a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 375px;
    width: 402px;
}

.galeryContent h2{
    width: 300px;
}

.galeryContent p{
    margin-top: 20px;
    width: 311px;
}

/*first end card*/

/*sencond card*/

.galery-img1{
    grid-area: a2;
    background-image: url("../../assets/desktop/image-grid-1@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*sencond card end */

/*third card*/

.galery-img2{
    grid-area: a3;
    background-image: url("../../assets/desktop/image-grid-2@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 650px;
    height: 740px;

}
.finalGrid{
    grid-area: a4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 740px;
}
.galery-img3{

    background-image: url("../../assets/desktop/image-grid-3@2x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 40%;
}

.galeryContent2{
    background-color: #151515;
    color: #FFFFFF;
    margin-top: 30px;
    height: 60%;
}

.galeryContent2 h2{
    width: 300px;
    margin: 30px;

}

.galeryContent2 p{
    width: 350px;
    margin: 30px;
}

.galery img{
    width: 100%;
    object-fit: cover;
}


/*nest hub and laptop 1024px*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .galery-img3{
        grid-area: a4;
        object-fit: cover;
        width: 400px;
    }

    .galery-img2{
        width: 545px;
    }

    .galery{
        margin: 2%;
    }
    .galeryContent2{
        width: 400px;
    }

}

/*surface pro 7 and tablets 912px*/

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .galery{
        margin: 0 3% 3% 3%;
    }

    .galeryContent{
        width: 296px;
        justify-content: start;
    }

    .galeryContent h2 {
        margin-top: 50px;
        width: 270px;
    }

    .galeryContent p {
        margin-top: 30px;
        width: 289px;
    }

    .galery-img1{
        background-image: url("../../assets/tablet/image-grid-1@2x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 558px;
    }

    .galery-img1 img{
        display: none;
    }

    .galery-img2{
        width: 469px;
    }

    .galery-img3{
        width: 360px;
        height: 45%;
    }

    .galeryContent2{
        height: 55%;
    }

    .galeryContent2 p {
        width: 274px;
        margin: 30px;
    }
}

@media screen and (max-width: 820px) and (max-height: 1180px) {
    .galery{
        margin: 150px 3% 3% 3%;
        grid-gap: 15px;
    }

    .galeryContent{
        width: 267px;
        justify-content: start;
    }

    .galery-img1{
        width: 100%;
    }

    .galery-img2{
        width: 449px;
        height: 655px;
    }

    .finalGrid{
        width: 305px;
        height: 100%;
    }

    .galery-img3{
        width: 100%;
        height: 40%;
    }

    .galeryContent2{
        height: 60%;
    }

    .galeryContent2 h2 {
        width: 274px;
        margin: 14px;
    }

    .galeryContent2 p {
        width: 274px;
        margin: 14px;
    }

}

@media screen and (max-width: 414px) and (max-height: 896px) {
    .galery{
        display: grid;
        margin: 15px;
        grid-gap: 20px;
        grid-template-areas: "a2""a1""a3""a4"
    }
    .galery-img1{
        width: 100%;
        height: 377px;
    }

    .galery-img2{
        width: 100%;
        height: 655px;
    }

    .galeryContent h2 {
        margin-top: 50px;
        width: 377px;
    }

    .breakline{
        display: block;
    }

    .galeryContent p {
        width: 388px;
    }

    .galery-img2 {
        height: 430px;
    }

    .finalGrid {
        width: 100%;
        height: 600px;
    }

    .galeryContent2 {
        height: 60%;
        width: 100%;
    }

    .galeryContent2 h2 {
        width: 274px;
        margin-top: 35px;
        margin-left: 20px;
    }

    .galeryContent2 p {
        width: 351px;
        margin-top: 35px;
        margin-left: 20px;
    }


}